<h1>Building Listing</h1>

<%= link_to 'Add Building', new_building_path %>
<br />
<br />
<hr />
<% @buildings.each do |building| %>
  Address: <%= building.street_address %>, <%= building.city %>,
    <%= building.state %> <%= building.postal_code %><br />
  <br />
  Owner: <%= building.owner_name %><br />
  <br />
  Description: <%= building.description %><br />
  <hr />
<% end %>
